/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #242424;
  margin: 0 auto;
}
/* common styles added */
.btn-primary{
  padding: 7px 14px;
  background-color: #f5ae09 ;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border: 0;
}
/* header style added */
.header {
  background-image: url(../resourcs/banner.jpg);
  width: 1320px;
  height: 600px;
  background-size: cover;
  border-radius: 15px;
  margin: 50px auto 0px auto;
  background-repeat: no-repeat;
  margin-bottom: 140px;
}

/* nav style added */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0px 50px;
}
nav h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #f5ae09;
  font-weight: 700;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
/* ======================== */

.bn-title{
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  color: #f5ae09;
  font-weight: 400;
  max-width: 200px;
  line-height: 1;
  letter-spacing: 10px;
}
.friday{
  color: white;
}
.bn-subtitle-one{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.bn-subtitle-two{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color:#f5ae09;
  font-weight: 400;
}
.all-dot{
  display: flex;
}
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}
.bn-para {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 400;
  max-width: 400px;
}
.get-start {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.banner-main-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 200px;
}
.offer {
  text-align: center;
}
.save-up-to{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.discount {
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  color: white;
  font-weight: 400;
  max-width: 200px;
  line-height: 1;
  letter-spacing: 10px;
}
.btn-discount{
  padding: 7px 14px;
  background-color: #f5ae09 ;
  border-radius: 50px;
  color: black;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border: 0;
}
/* section one style added */
.section-one{
  text-align: center;
  margin: 140px;
}
.offer-title{
color: #f5ae09;
font-family: "Open Sans", sans-serif;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.offer-sub-title{
text-transform: uppercase;
font-family: "Open Sans", sans-serif;
font-size: 24px;
font-weight: 500;
color:#f5ae09;
}
.catagories {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: white;
}
.offer-image {
  width: 802px;
}