/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #242424;
  margin: 0 auto;
}
/* common styles added */
.btn-primary {
  padding: 7px 14px;
  background-color: #f5ae09;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border: 0;
}
/* header style added */
.header {
  background-image: url("../resourcs/banner.jpg");
  width: 1320px;
  height: 600px;
  background-size: cover;
  border-radius: 15px;
  margin: 50px auto 0px auto;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

/* nav style added */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0px 50px;
}
nav h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #f5ae09;
  font-weight: 700;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
/* ======================== */

.bn-title {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  color: #f5ae09;
  font-weight: 400;
  max-width: 200px;
  line-height: 1;
  letter-spacing: 10px;
}
.friday {
  color: white;
}
.bn-subtitle-one {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.bn-subtitle-two {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #f5ae09;
  font-weight: 400;
}
.all-dot {
  display: flex;
}
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}
.bn-para {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 400;
  max-width: 400px;
}
.get-start {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.banner-main-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 200px;
}
.offer {
  text-align: center;
}
.save-up-to {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.discount {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  color: white;
  font-weight: 400;
  max-width: 200px;
  line-height: 1;
  letter-spacing: 10px;
}
.btn-discount {
  padding: 7px 14px;
  background-color: #f5ae09;
  border-radius: 50px;
  color: black;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border: 0;
}
/* section one style added */
.section-one {
  text-align: center;
  margin: 100px;
}
.offer-title {
  color: #f5ae09;
  font-family: "Open Sans", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.offer-sub-title {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #f5ae09;
}
.catagories {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: white;
}
.offer-image {
  width: 802px;
}
/* section two styles added */
.section-two {
  width: 1320px;
  height: 600px;
  background-image: url("../resourcs/Vectorrr.png");
  background-size: cover;
  border-radius: 15px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  margin: 0 auto 100px;
}
.section-two-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px 0px 100px;
}
.section-two-title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  max-width: 642px;
}
.section-two-para {
  color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 697px;
}
.get-start {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
/* section three styles added */
.section-three {
  margin: 0 auto 100px auto;
  width: 1320px;
  height: 482px;
  border-radius: 15px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 153, 0, 0.1) 0%,
    rgba(252, 252, 252, 0) 100%
  );
  text-align: center;
  position: relative;
}
.section-three-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  position: absolute;
  left: 25%;
  top: 40%;
}
.place {
  color: #f5ae09;
}
/* section four styles added */
.section-four-container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  margin: 0 auto;
}
.four-offer {
  color: #f5ae09;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.four-coming {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.four-para {
  color: rgba(229, 229, 229, 0.6);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 292px;
}
.four-circle {
  height: 463px;
  width: 463px;
  border: 10px solid #f5ae09;
  border-radius: 50%;
  position: relative;
}
.four-circle img {
  position: absolute;
  top: 6%;
  right: 7%;
  height: 400px;
  width: 400px;
}
.four-center-image {
  text-align: center;
  align-items: center;
}
.year {
  color: #f5ae09;
}
/* section five styles added */
.section-five-container {
  margin: 0 auto;
  width: 1300px;
  background-color: rgb(25, 25, 25);
  border-radius: 15px;
  margin-top: 140px;
  margin-bottom: 140px;
}
.five-text {
  text-align: center;
}
.five-subtitle {
  color: #f5ae09;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 50px;
}
.five-title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.five-para {
  color: rgba(229, 229, 229, 0.6);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 1068px;
  margin-left: 100px;
}
.five-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section six styles added */
.section-six {
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.image-gallary img {
  padding: 2px;
}
.six-subtitle {
  color: #f5ae09;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.six-title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.six-para {
  max-width: 896px;
  color: rgba(218, 218, 218, 0.6);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
/* section seven style added */
.section-seven {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 1320px;
  height: 616px;
  border-radius: 15px;
  background-color: rgb(49, 49, 49);
  text-align: center;
}
.section-seven-all {
  padding-top: 100px;
}
.seven-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.seven-para {
  max-width: 900px;
  color: rgba(235, 235, 235);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 230px;
}
.seven-image {
  width: 150px;
}
.input-text {
  width: 438px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  border: 0;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.btn-subscribe {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background-color: #f5ae09;
  color: #242424;
  border: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
/* footer styles added */
.footer-section {
  width: 1600px;
  height: 609px;
  background-color: rgb(25, 25, 25);
  margin: 0 auto;
  border-radius: 15px;
}
.address-phone {
  display: flex;
  color: rgb(206, 206, 206);
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  padding: 150px 100px 0px 100px;
}
.social-icon {
  text-align: center;
}
.social-icon img {
  padding: 20px;
}
.reserved {
  display: flex;
  color: rgb(206, 206, 206);
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  padding: 0px 100px 0px 100px;
}
hr.new1 {
  border: 0.5px solid rgb(36, 36, 36);
  text-align: center;
  margin: 0px 100px 0px 100px;
}
